.topNavigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.topNavigation a {
    display: inline-block;
    padding: 10px 20px;
    color: inherit;
    text-decoration: none;
}
.topNavigation a:hover, .topNavigation .active {
    text-decoration: underline overline;
}