.header__menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.header__menu a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    /* color: inherit; */
    text-decoration: none;
}
.header__menu a:hover, .header__menu .active {
    text-decoration: underline overline;
}