

.footer__content {
    color: var(--color-primary);
    /* border: 1px solid black; */
    width: 90%;
    margin: 0 auto;
    /* position:absolute; */
    bottom:0;
  
    height:60px;   /* Height of the footer */
    /* background:#6cf; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 20px; */
    /* border: 1px solid #000; */
  
  }

  .footer__social{
    padding-right: 10px;
  }