@import-normalize;

:root {
  /* --main-color: #cfaab0; */
    /* Primary Colors */
    --color-background-secondary: #eed5db;

    --color-primary: #1975d2;     /* Button blue */
    --color-background: #FFFFFF;            /* Clean white background */
    --color-text: #333333;                  /* Dark gray text */
    
    /* Secondary Colors */
    --color-accent: #FF7043;                /* Warm orange accent */
    --color-highlight: #E3F2FD;             /* Light blue highlight */
    --color-border: #EEEEEE;                /* Light gray border */
    
    /* Tertiary Colors */
    --color-success: #4CAF50;               /* Green for success/categories */
    --color-muted-bg: #F5F7FA;              /* Off-white background */
    --color-text-secondary: #757575;        /* Medium gray for secondary text */
    
    /* Derived Variables */
    --color-primary-hover: #1565b4;  /* Darker blue for hover states */
    --color-accent-hover: #F96538;          /* Slightly darker orange for hover */
    --color-shadow: #0000001a;     /* Subtle shadow color */
}
html, body {
  margin:0;
  padding:0;
  height:100%;
}
.block{
  background-color: red;
  width:100%;
}
#container {
  min-height:100%;
  position:relative;
}

.main {
  width: 100%;
  /* min-height: 100vh; */
  min-height: calc(100vh - 260px);
  background-color: var(--main-color);
  margin: 50px auto;

  /* padding:10px; */
  /* padding-bottom:60px;   Height of the footer */
}

.main__content{
  border: 1px solid black;
  width: 90%;
  margin: 0px auto;
  /* background-color: #EFEEE8; */
}

.header{
  width: 100%;
  height: 100px;
  background-color: var(--color-background-secondary);
  /* #F5F7FA; */
  
}

.footer{
  width:100%;
  position: absolute;
  /* bottom: 0; */
  height: 60px;
  /* background-color: #F5F7FA;*/
  background-color: var(--color-background-secondary); 
}
a{
   color: var(--color-primary);
}

.page{}
.page__title{ 
  /* text-align: center; */
  color: var(--color-text);
}
.page__content{
  width: 100%;
}
.page__content__form{

  width:400px;
  display: flex;
  flex-direction: row;
  /* margin: 0 auto; */
}
